.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.textColour {
  color: #cccccc;
}
body {
  margin: 0;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #0c0b0b;
  background: url("./assets/technology-texture-neon-threads-texture-threads-background-black-background-with-threads-bokeh.jpg")
    no-repeat center center scroll;
  background-size: cover;
  background-attachment: fixed;
}
.fixed-top {
  color: whitesmoke;
  position: fixed;
  top: 50px;
  right: 0;
  left: 20px;
  z-index: 1030;
  text-align: top;
}
.jumbo {
  margin: 100px;
  background-color: black !important;
  text-align: center;
}
.jumboP {
  color: white;
  padding: "10px";
  font-family: "Arial";
}
.fixFormat {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
.redoc-wrap {
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  background-color: white;
}
.titleColour {
  color: yellowgreen;
  margin-top: 0px;
}
.formContainer {
  margin-top: 20px;
  padding: 20px;
  width: 80%;
  background-color: white;
}
.navBar {
  margin-bottom: 120px;
}
.gapInButton {
  margin-left: 20px;
  margin-right: auto;
}
.liColour {
  font-size: x-large;
  color: lightsalmon;
  font-weight: 400;
  font: bold;
  background-color: black;
}
.logoutMessage {
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 800px;
  height: 200px;
}
/* .makeStyles-paper-1 {
  background-color: white;
} */
/* .makeStyles-form-3 {
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 60px;
} */
.MuiTypography-root {
  margin-top: 70px;
  margin-left: 50px;
}
.MuiPaper-root {
  color: white;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: none;
}
/* .makeStyles-paper-2 {
  display: flex;
  margin-top: 60px;
  align-items: center;
  padding: 40px;
  flex-direction: column;
  background-color: white;
} */
/* .makeStyles-paper-21 {
  display: flex;
  margin-top: 64px;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 30px;
} */
/* .MuiCardActions-root {
  display: flex;
  padding: 8px;
  margin-bottom: 200px;
} */

/* .MuiCardContent-root {
  padding: 50;
  margin-top: 50px;
  margin-bottom: 60px;
} */
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 120px;
  margin-block-end: 50px;
  margin-inline-start: 30px;
  margin-inline-end: 30px;
  font-weight: bold;
}
/* .makeStyles-paper-16 {
  display: flex;
  margin-top: 64px;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 20px;
} */
.jumboHeight {
  position: absolute;
  bottom: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  /* color: black; */
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4caf50;
  color: white;
}
